@font-face {
  font-family: "Perma";
  src: url("../assets/PermanentMarker-Regular.ttf");
}
* {
  box-sizing: border-box;
}

body, h1, h2, figure, nav ul, nav li {
  margin: 0;
  padding: 0;
}

body header section {
  background-color: #6CDFCE;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header section .divImg {
  width: 251px;
  display: inline-block;
  padding-left: 1rem;
}
body header section img {
  width: 100%;
  max-width: 251px;
}
body header section .divH1 {
  width: 100%;
  display: inline-block;
}
body header section h1 {
  width: 100%;
  color: #098ffd;
  font-family: Perma, cursive;
  font-size: 1.5rem;
  text-align: center;
}
body header section nav a {
  padding-right: 1rem;
}
body header .divNav {
  display: none;
}
body header .divNav nav {
  width: 100%;
  background-color: #6CDFCE;
  color: bisque;
}
body header .divNav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  height: 2rem;
  width: 100%;
}
body header .divNav nav li {
  display: block;
  float: left;
  width: 15%;
  margin: 0;
  padding: 0;
  border: 0;
}
body header .divNav nav li:not(:last-child) {
  margin-right: 1.5%;
}
body header .divNav nav a {
  display: inline-block;
  width: 100%;
  color: inherit;
  background-color: bisque;
  color: maroon;
  text-decoration: none;
  text-align: center;
  border-radius: 1rem;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  border: 0;
}
body main {
  /* LOS IMPARES*/
  /* LOS PARES*/
}
body main section h2 {
  margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
body main section .div_flex {
  display: flex;
}
body main section .div_flex .mainDivImg {
  width: 100%;
  display: inline-block;
  padding: 0;
}
body main section .div_flex img {
  width: 100%;
  max-width: 600px;
}
body main section .seccion-01 {
  padding-left: 1rem;
  font-family: Roboto, Verdana, Arial, sans-serf;
  font-size: 1rem;
}
body main section .seccion-01 p {
  margin-left: 1rem;
  margin-right: 1rem;
}
body main section .seccion-01 blockquote {
  margin-left: 2rem;
}
body main p.mailto {
  font-family: Arial, Helvetica, sans-serif, cursive;
  font-size: 1rem;
  margin-left: 1rem;
  padding: 0;
}
body main th, body main td {
  padding: 1px auto;
}
body main th {
  background-color: #813030;
  color: bisque;
}
body main td {
  background-color: bisque;
}
body main table.batallas {
  border-spacing: 1px;
  empty-cells: hide;
  font-size: 1rem;
}
body main section .seccion-01 table.batallas tr:nth-child(odd) td {
  background-color: #00a2ff;
  border: 3px solid #5c4848;
}
body main section .seccion-01 table.batallas tr:nth-child(even) td {
  background-color: #02f52a;
  border: 3px solid red;
}
body aside {
  background-color: burlywood;
  margin: 1rem;
  font-size: 1.3rem;
}
body aside ul {
  list-style: none;
  text-decoration: none;
}
body details {
  margin: 1rem;
  font-size: 1.3rem;
}
body footer {
  background-color: #CCCCCC;
}
body footer address {
  margin: 1rem;
  font-size: 1.3rem;
}
body footer address p {
  margin: 1rem;
  font-size: 1.3rem;
}

@media screen and (min-width: 620px) {
  h1 {
    font-size: 5.3rem;
    padding-left: 1rem;
  }

  .wrapper_flex {
    display: flex;
  }

  .wrapper_flex section {
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 0 1 75%;
  }

  .wrapper_flex aside {
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 0 1 25%;
  }

  section figure {
    margin: 0;
  }
}

/*# sourceMappingURL=css/style.css.map */
