/* ANADIR SIEMPRE*/
/*******************************/
* {box-sizing: border-box;}   
/*******************************/
body {
    margin: 5%;
}
body {
    margin: 5%;
}
h1{
    width: 2rem;
    
}

/* Layout */

p {
    margin: 0;
    padding: 0;
    /*width: calc(94%/4); */
    float: left;
    padding: 1.5rem;    
}

p:not(:last-child) {
    margin-right: 2%;
} 

p:first-child {
    /* border-left: 1px solid;  */
}

/* LOS IMPARES*/
p:nth-child(odd) {
    background-color: aqua;
    border: 3px solid rgb(255, 0, 0);
    overflow: auto;
    
    
}
/* LOS PARES*/
p:nth-child(even) {
    background-color: bisque;
    border: 3px solid rgb(255, 0, 0);
}
/****************************/
ul {
    list-style-type: none;
    margin: 5px;
    overflow: hidden;
    background-color: #3333333d;
}
li {
    float: left;
    border: 3px solid rgb(255, 0, 0);
    padding: 1rem;
    width: 25%; 

}
li a {
    display: block;
    color: rgb(187, 56, 56);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #45bd73;
}
